
.Login__Switch {
text-align: center;
margin-top: 10px;
cursor: pointer;
color: #FF5500;
}

.Login__Switch span:hover {
text-decoration: underline;
}

.Login__opciones {
display: flex;
justify-content: space-between;
margin-top: 15px;
}

.Login__BotonInvitado {
color: #FB7C3C;
}