.SideBar {
    background: #ffffff;
    color: #ff7424;
    min-height: 100vh;
    border-right: 1.5px solid #ff7424;
    transition: width 0.3s ease;
    position: fixed;
}

.v-list-item {
    margin-top: 0.2%;
}

.v-list-item-title {
    color: #ff7424;
    font-weight: bold;
}

.SideBar__Boton {
    position: fixed;
    top: 15px;
    left: 15px;
    z-index: 2000;
    background: white;
}