
.AsignaturasPage__Breadcrumb {
margin-left: 5%;
margin-top: 25%;
}

.AsignaturasPage__Contenido {
margin-top: 0;
flex: 1;
padding: 15px;
margin-left: 0;
}

.AsignaturasPage__Contenedor {
display: flex;
flex-direction: column;
gap: 15px;
min-height: 100vh;
padding-top: 56px;
}

.AsignaturasPage__ContenedorAsignaturas {
padding: 15px;
}

/* ipad*/
@media (min-width: 576px) {
.AsignaturasPage__Breadcrumb {
    margin-left: 3%;
    margin-top: 5%;
}

.AsignaturasPage__Contenido {
    padding: 18px;
}

.AsignaturasPage__Contenedor {
    gap: 18px;
    padding-top: 60px;
}

.AsignaturasPage__ContenedorAsignaturas {
    padding: 18px;
}
}

/* Ordenador */
@media (min-width: 768px) {
.AsignaturasPage__Breadcrumb {
    margin-left: 5%;
    margin-top: 6%;
}

.AsignaturasPage__Contenido {
    margin-top: -4%;
    padding: 20px;
    margin-left: 1%;
}

.AsignaturasPage__Contenedor {
    flex-direction: row;
    gap: 20px;
    padding-top: 64px;
}

.AsignaturasPage__ContenedorAsignaturas {
    padding: 20px;
}
}