.TemariosPage__Breadcrumb {
    margin-left: 5%;
    margin-top: 25%;
  }
  
  .TemariosPage__Contenido {
    margin-top: 0;
    flex: 1;
    padding: 15px;
    margin-left: 0;
  }
  
  .TemariosPage__Contenedor {
    display: flex;
    flex-direction: column;
    gap: 15px;
    min-height: 100vh;
    padding-top: 56px;
  }

/* Ipad */
@media (min-width: 576px) {
.TemariosPage__Breadcrumb {
    margin-left: 3%;
    margin-top: 5%;
}

.TemariosPage__Contenido {
    padding: 18px;
}

.TemariosPage__Contenedor {
    gap: 18px;
    padding-top: 60px;
}
}

/* Ordenador */
@media (min-width: 768px) {
.TemariosPage__Breadcrumb {
    margin-left: 5%;
    margin-top: 6%;
}

.TemariosPage__Contenido {
    margin-top: -4%;
    padding: 20px;
    margin-left: 1%;
}

.TemariosPage__Contenedor {
    flex-direction: row;
    gap: 20px;
    padding-top: 64px;
}
}